@import '../base/vars.scss';

header {
	display: flex;
	height: 4em;
	width: 100%;
	p {
		color: $deep-blue;
	}
}


.mainPage {
	height: 100vh;
	h1 {
		margin: 0.25em;
		color: $beets;
	}
	p {
		margin: 1.75em;
		color: $deep-blue;
		line-height: 1.5em;
	}
}
