@import '../base/vars.scss';

body {
	// background: linear-gradient(rgb(256, 225, 157), rgb(26, 63, 145));
	// background: -moz-linear-gradient(top, rgba(228,245,252,1) 37%, rgba(42,176,237,1) 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(top, rgba(228,245,252,1) 37%,rgba(42,176,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(to bottom, rgba(228,245,252,1) 37%,rgba(26, 63, 145, 1) 100%);

	height: 100vh;
	.shell {
			color: $lush-green;
			height: 100vh;
			display: flex;
			justify-content: center;
			.main_landing {
				min-width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				h3 {
					margin: 0.75em 0;
				}
				nav {
					border-top: 1px solid $beets;
					.indexNav {
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						margin: 2.5em 0;
						li:hover {
							border-top: 1px solid $beets;
						}
					}
				}
			}
	}
	.headerLayout {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// background: rgba(228,245,252,1);

		.brand {
			margin: auto 1em;
			color: $deep-blue;
		}
		.navBar {
			height: 100%;
		.full_nav {
			margin-top: 1.25em;
			ul {
				display: flex;
				li {
					margin: 0 1em;
					a {
						font-size: 1.25em;
						color: $lush-green;
						&:hover {
							text-decoration: overline;
						}
					}
				}
			}
		}
		}
	}
	.portfolioHolder{
		background: $white;
		margin: 1.57em;
		li {
			margin: 1em 0;
			h4 {
				padding-left: 1em;
			}
			// outline: green solid 3px;
		.imageAndSummaryHolder {
			display: flex;
			justify-content: center;
			// outline: red solid 2px;
			padding: 1em;
			height: 45vh;
			overflow: hidden;
			margin-bottom: 2em;
			.imageHolder {
				overflow: hidden;
				width: 100%;
			}
			.summaryHolder {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				background-color: orange;
			}
			}
		}
	}


	// about page
.aboutSkills {
	margin: 2em 0;
}
	.allSkills {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 40em;
		//border: 1px black solid;
		.skills {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 10em;
			.techTool {
				border: 1px solid;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 60px;
				height: 6em;
				width: 6em;

			}
		}
	}
}

//responsive nav for all pages except home
@media screen and (max-width: 900px){
	body{
	.headerLayout{
		align-items: center;
		.navBar {
			width: 40%;
		.mobileNav {
			display: flex;
			flex-direction: column;
			height: 100%;
			.mobileNavIcon {
				color: $deep-blue;
				display: flex;
				justify-content: flex-end;
				height: 100%;
				margin-top: 1.35em;
				margin-right: 1.5em;
				margin-bottom: 3em;
			}
			ul {
				flex-direction: column;
				margin-top: -1.25em;
				margin-right: 1.25em;
				li {
					display: flex;
					border: 1px solid $white;
					justify-content: flex-end;
					margin: 0.25em 0;
				}
			}
		}
		ul.large {
			display: none;
		}
		}
	}
}
}
