@import '../base/vars.scss';

body {
	// background: linear-gradient(rgb(256, 225, 157), rgb(26, 63, 145));
	background: -moz-linear-gradient(top, rgba(228,245,252,1) 37%, rgba(42,176,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(228,245,252,1) 37%,rgba(42,176,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(228,245,252,1) 37%,rgba(26, 63, 145, 1) 100%);

	height: 100vh;
	.shell {
			color: $white;
			height: 100vh;
			display: flex;
			justify-content: center;
			.main_landing {
				min-width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				nav {
					.indexNav {
						display: flex;
						flex-direction: row;
						justify-content: space-around;
					}
				}
			}
	}
	.headerLayout {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(228,245,252,1);

		.brand {
			margin: auto 1em;
			color: $deep-blue;
		}
		.navBar {
			height: 100%;
		.full_nav {
			margin-top: 1.25em;
			ul {
				display: flex;
				li {
					margin: 0 1em;
					a {
						font-size: 1.25em;
						color: $white;
						&:hover {
							text-decoration: overline;
						}
					}
				}
			}
		}
		}
	}
	.portfolioHolder {
		padding: 0 1em;
		li {
			border-top: 1px $deep-blue solid;
			border-right: 1px $deep-blue solid;
			margin: 1em 0;
		}
	}
}

//responsive nav for all pages except home
@media screen and (max-width: 900px){
	body{
	.headerLayout{
		align-items: center;
		.navBar {
			width: 40%;
		.mobileNav {
			display: flex;
			flex-direction: column;
			height: 100%;
			.mobileNavIcon {
				color: $deep-blue;
				display: flex;
				justify-content: flex-end;
				height: 100%;
				margin-top: 1.35em;
				margin-right: 1.5em;
				margin-bottom: 3em;
			}
			ul {
				flex-direction: column;
				li {
					display: block;
					border: 1px solid $white;
				}
			}
		}
		ul.large {
			display: none;
		}
		}
	}
}
}
