@import '../base/vars.scss';

body {
	// background: linear-gradient(rgb(6, 22, 57), rgb(26, 63, 145));
	background: linear-gradient(rgb(256, 225, 157), rgb(26, 63, 145));
	height: 100vh;
	.shell {
			color: $white;
			height: 100vh;
			display: flex;
			justify-content: center;
			.main_landing {
				min-width: 90%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				nav {
					.indexNav {
						display: flex;
						flex-direction: row;
						justify-content: space-around;
					}
				}
			}
	}
	.headerLayout {
		width: 100%;
		display: flex;
		justify-content: space-between;
		max-height: 1em;
		background: green;
		.brand {
			margin: auto 1em;
		}
		.navBar {
		.full_nav {
			ul {
				display: flex;
				li {
					margin: 0 1em;
					a {
						font-size: 1.25em;
						color: $white;
						&:hover {
							text-decoration: overline;
						}
					}
				}
			}
		}
		}
	}

}

//responsive nav for all pages except home
@media screen and (max-width: 900px){
	body{
	.headerLayout{
		.navBar {
			width: 40%;
		.mobileNav {
			display: flex;
			flex-direction: column;
			.mobileNavIcon {
				color: yellow;
				display: flex;
				justify-content: flex-end;
			}
			ul {
				flex-direction: column;
				li {
					display: block;
					border: 1px solid $white;
				}
			}
		}
		ul.large {
			display: none;
		}
		}
	}
}
}
